<% provide(:title, "用户列表")%>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %> 
      <%= link_to user.email, user %>
      <% if current_user.admin? && ! current_user?(user) %>
        <%= link_to "删除", user, method: :delete, data: { confirm: "are you sure?"}%>  
      <% end %>  
    </li>
  <% end %>
</ul>

<%= paginate @users %>
