<form class="form-inline">
  <div class="form-group">
    <%= form_tag root_path, :method => :get do %>
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "输入搜索内容...." %>
  </div>
      <%= submit_tag "搜索", :name => nil, class: "btn btn-default" %>
    <% end %>
</form>
<hr>
