<div class="row">
  <div class="col-md-3">
    <%= render 'layouts/categories' %>
  </div>
  <div class="col-md-9">
    <%= render 'welcomes/head' %>
    <%= render 'layouts/topics' %>
  </div>
</div>
