<div class="row">
  <div class="col-md-8">
    <%= render 'search' %>
    <%= render 'head' %>
    <%= render 'topics' %> 
  </div>
  <div class="col-md-4">
    <%= render 'layouts/categories'%>
  </div>
</div>

