<div class="row">
  <div class="col-md-8">
    <h2><%= @category.name %></h2>
    <ul>
      <% @topics.each do |topic| %>
        <li><%= link_to "#{topic.title}", topic_path(topic) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <%= render 'layouts/categories'%>
  </div>
</div>
