<div class="container">
  <footer class="footer">
    <small>
      Simple Forum
      by <a href="#">Jayzen</a>
    </small>
    <nav>
      <ul>
        <li><small><%= link_to "About", "#" %></small></li>
      </ul>
    </nav>
  </footer>
</div>
