<div class="navbar-form navbar-left">
  <div class="form-group">
    <%= form_tag  search_topics_path, method: :get do %>
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "输入搜索内容...." %>
      <%= submit_tag "搜索", :name => nil, class: "btn btn-default" %>
    <% end %>
  </div>
</div>
</br>
<hr>
